@tailwind base;
@tailwind components;
@tailwind utilities;

/*Index.html styling begins here.....    */






body{
    background-color: rgb(104, 79, 83);
}

#header-title{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

#header-task{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}






h2{
    font-family: Arial, Helvetica, sans-serif;
}


h2::selection{
    background-color: #000;
    color: #fff;
}

h3{
    font-family: 'Dancing Script', cursive; 
    font-weight: 200;

}

li{
 
    font-family: 'Dancing Script', cursive;  
    font-size: 25px; 
}

.dark-mode{
   background-color:    #1e293b;
    color: #000;
}





#myimage{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    opacity: 1;
    filter: brightness(85%);
    filter: grayscale(100%);
}

.span{
    margin: 10px 20px;
}

.download-links{
   
        background-color: #000;
        color: #fff;
        justify-content: flex-start;
        width: 8%;
        padding: 5px 3px;
        margin-left: 5%;
    
}
/*   

#title{
  position: relative;
  left: -20em;
    
}

*/


/*    
#sub-title{
    position: relative;
    left: -3em;
}


*/







/* Styling for the resume' page  begins here  */

.photos{
    width: 200px;
   display: inline-block;
   aspect-ratio: 3/2;
   margin: 30px 30px;
   object-fit: contain;
   color: #fff;
}


#tools-container{
    background-color: #000;
    filter: grayscale(85%);
}


.list{
    list-style-type: disc;
    text-align: center;
  list-style: lower-alpha;
}

#text{
    font-style: italic;
}



/* Project page styling begins here.....   */
.project-containers{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: contain;
}


/* Media query    */

@media(max-width: 760px){
    #title{
    position: relative;
   left: -1em;
      }
   #switch{
    position: relative;
    left: -0.9em;
    font-size: 17px;
   top: 0.1em;
   }

#toggle{
    font-size: 17px;
}

#hello-text{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#myimage{
    width: 170px;
}

#header-title{
    font-size: 48px;
}





.project-containers{
    width: 53%;
}



.download-links{
   margin-top: 15%;
     width: 45%;
     padding: 2px 2px;
}

.photos{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#text{
    font-size: 18px;
}



}


@media(max-width: 250px){

    #header-title{
        font-size: 35px;
    }

#title-text{
    font-size: 18px;
}

#tools-container{
    width: 100%;
}
}


@media(max-width: 372px){
    #header-task{
       
        font-size: 35px;
    }
  
}











@media(min-width: 761px){
    .download-links{
   
        width: 17%;
        padding: 3px 3px;


   }

}
