@tailwind base;
@tailwind components;
@tailwind utilities;

/*Index.html styling begins here.....    */
body{
    background-color: rgb(104, 79, 83);
}

#header-title{
    font-family: 'Dancing Script', cursive;
    font-size: 67px;
}


h2{
    font-family: Arial, Helvetica, sans-serif;
}


h2::selection{
    background-color: #000;
    color: #fff;
}

h3{
    font-family: 'Dancing Script', cursive; 
    font-weight: 200;

}

li{
 
    font-family: 'Dancing Script', cursive;  
    font-size: 25px; 
}

.dark-mode{
    background-color: #374151;
    color: #000;
}





#myimage{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    opacity: 1;
    filter: brightness(85%);
    filter: grayscale(100%);
}

.span{
    margin: 10px 20px;
}

.download-links{
   
        background-color: #000;
        color: #fff;
        justify-content: flex-start;
        width: 8%;
        padding: 5px 3px;
        margin-left: 5%;
    
}

#title{
  position: relative;
  left: -20em;
    
}

#sub-title{
    position: relative;
    left: -3em;
}






/* Styling for the resume' page  begins here  */

.photos{
    width: 200px;
   display: inline-block;
   aspect-ratio: 3/2;
   margin: 30px 30px;
   object-fit: contain;
   color: #fff;
}


#tools-container{
    background-color: #000;
    filter: grayscale(85%);
}


.list{
    list-style-type: disc;
    text-align: center;
  list-style: lower-alpha;
}

#text{
    font-style: italic;
}



/* Project page styling begins here.....   */
.project-containers{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: contain;
}